{% extends 'base.html' %}

{% block content %}
<section class="form_producto mt-5">
    <div class="container mt-3">
        <h4>{{ titulo }}</h4>
        <div class="row">
            <div class="col-lg-6">
                {% if producto %}
                <form action="" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="codigo">Código</label>
                            <input type="text" class="form-control" id="codigo" name='codigo' value="{{producto.codigo}}" autofocus>
                        </div>
                        <div class="form-group">
                            <label for="nombre">Nombre</label>
                            <input type="text" class="form-control" id="nombre" value="{{producto.nombre}}" name='nombre'>
                        </div>
                        <div class="form-group">
                            <label for="descripcion">Descripción</label>
                            <textarea class="form-control" id="descripcion" name='descripcion' cols="30"
                                rows="5">{{producto.descripcion}}</textarea>
                        </div>
                        <div class="form-group">
                            <label for="precio">Precio</label>
                            <input type="number" step="any" class="form-control" id="precio" name='precio' value="{{producto.precio}}">
                        </div>
                        <div class="form-group">
                            <label for="categoria">Categoría</label>
                            <select class="form-control" id="categoria" name='categoria'>
                                {% if categoria %}
                                <option value="{{producto.categoria.id}}">{{producto.categoria.nombre}}</option>
                                {% for valor in categoria %}
                                <option value="{{valor.id}}">{{valor.nombre}}</option>
                                {% endfor %}
                                {% else %}
                                {% endif %}
                            </select>
                        </div>
                        {% if messages %}
                        {% for message in messages  %}
                        <div class=" col-lg-12 alert alert-info">
                            {{message}}
                        </div>
                        {% endfor %}
                        {% endif %}
    
                        <button type="submit" class="btn btn-primary">Guardar</button>
                {% else %}
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="codigo">Código</label>
                        <input type="text" class="form-control" id="codigo" name='codigo' autofocus>
                    </div>
                    <div class="form-group">
                        <label for="nombre">Nombre</label>
                        <input type="text" class="form-control" id="nombre" name='nombre'>
                    </div>
                    <div class="form-group">
                        <label for="descripcion">Descripción</label>
                        <textarea class="form-control" id="descripcion" name='descripcion' cols="30"
                            rows="5"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="precio">Precio</label>
                        <input type="number" step="any" class="form-control" id="precio" name='precio' value="0.00">
                    </div>
                    <div class="form-group">
                        <label for="categoria">Categoría</label>
                        <select class="form-control" id="categoria" name='categoria'>
                            {% if categoria %}
                            {% for valor in categoria %}
                            <option value="{{valor.id}}">{{valor.nombre}}</option>
                            {% endfor %}
                            {% else %}
                            {% endif %}
                        </select>
                    </div>
                    {% if messages %}
                    {% for message in messages  %}
                    <div class=" col-lg-12 alert alert-info">
                        {{message}}
                    </div>
                    {% endfor %}
                    {% endif %}

                    <button type="submit" class="btn btn-primary">Guardar</button>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock %}