{% extends 'base.html' %}

{% block  content %}

<section class="producto_lista mt-5">
    <div class="container">
        <h4>Productos</h4>
        <div class="row">
            <div class="col-lg-4">
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="nombre">Nombre. <small class="text-muted"> Si lo deja en blanco, mostrara todos
                            </small></label>
                        <input type="text" name="nombre" class="form-control" autofocus>
                    </div>
                    <button type="submit" class="btn btn-primary"><i class="fab fa-searchengin"></i></button>
                </form>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-lg-12">
                <div class="table-responsive-lg">
                    {% if resultados %}
                    <table class="table">
                        <thead>
                            <th>Nombre</th>
                            <th>Código</th>
                            <th>Precio</th>
                            <th>Acciones</th>
                        </thead>
                        <tbody>
                            {% for resultado in resultados %}
                            <tr>
                                <td> {{ resultado.nombre }} </td>
                                <td> {{ resultado.codigo }} </td>
                                <td>$ {{ resultado.precio }} </td>
                                <td>
                                    <a class="btn btn-info btn-sm" href="{% url 'edita_producto' id=resultado.id %}"> <i class="far fa-edit"></i> </a>
                                    <a href="#" class="btn btn-danger btn-sm"> <i class="fas fa-trash-alt"></i> </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                    <div class="alert alert-info">Sin resultados</div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}